<div class="m-2 row col-8" id="search_bar">
    <h2>Find NEOs</h2>
    <div class='input-group mb-3' id="search-input">
    <input class="form-control form-control-sm col-3" type="text" id="year" placeholder="Year YYYY" aria-label="Year Input" >
    <input class="form-control form-control-sm col-3" type="text" required="required" placeholder="Month MM" aria-label="Month Input" id="month" >
    <input class="form-control form-control-sm col-3" type="text" placeholder="Day DD" aria-label="Day Input" id="day" >
    <input class="form-control form-control-sm col-3" type="text" placeholder="# of Days (max 7)" aria-label="Number of Days Input" id="day-span" >

    <button type="button" class="btn btn-success" id="search">Search</button>
    <button type="button" class="btn btn-info" id="download">Download</button>
    <button type="button" class="btn btn-warning" id="clear">Clear Table</button>
    {{#if loggedIn}}
    <button type="button" class="btn btn-light" id="save">Save Records</button>
    {{/if}}
    

    </div>  
</div>

<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col" id="check">Select</th>
      <th scope="col" id="name">Name</th>
      <th scope="col" id="neo_id">NEO ID</th>
      <th scope="col" id="date">Close Approach Date</th>
      <th scope="col" id="distance">Nearest Approach (miles)</th>
      <th scope="col" id="diameter">Estimated Diameter (Max, in feet)</th>
      <th scope="col" id="brightness">Absolute Magnitude</th>
      <th scope="col" id="pha">Potentially Hazardous Object?</th>
      <th scope="col" id="link">Link</th>
    </tr>
  </thead>
  <tbody id="search_results">
    
  </tbody>
</table>
<script>
  const apiKEY = "{{apiKEY}}" 
</script>
<script type="module" src="/js/script.js"></script>
