<div class="m-2 row">
    <label for="first-name">First Name</label>
    <input class="form-control form-control-md col-5" type="text" id="first-name" name="first-name" placeholder="Tracy">
    <label for="last-name">Last Name</label>
    <input class="form-control form-control-md col-5" type="text" id="last-name" name="last-name" placeholder="Arbuckle">
    <label for="email">Email Address</label>
    <input class="form-control form-control-md col-5" type="text" id="email" name="email" placeholder="email@example.org">
    <label for="username">Username</label>
    <input class="form-control form-control-md col-5" type="text" id="username" name="username" placeholder="Choose a unique username">
    <label for="password">Password</label>
    <input class="form-control form-control-md col-5" type="password" id="password" name="password" placeholder="Enter a password over 8 characters">

</div>