<div class="m-2 row col-4">
    <label for="username">Username</label>
    <input class="form-control form-control-md col-5" type="text" id="username" name="username" placeholder="Choose a unique username">
    <label for="password">Password</label>
    <input class="form-control form-control-md col-5" type="password" id="password" name="password" placeholder="Enter a password over 8 characters">
</div>
<div class="l-2 row col-6">
    <a href="./register">First-time User?</a>

</div>