<div class="row m-2">
    <h2>Find NEOs</h2>
    <div class='input-group mb-3' id="search-input">
    <input class="form-control form-control-sm col-3" type="number" id="year" placeholder="Year YYYY" aria-label="Year Input" >
    <input class="form-control form-control-sm col-3" type="number" placeholder="Month MM" aria-label="Month Input" id="month" min="1" max="12">
    <input class="form-control form-control-sm col-3" type="number" placeholder="Day DD" aria-label="Day Input" id="day" min="1" max="31">
    <input class="form-control form-control-sm col-3" type="number" placeholder="# of Days (max 7)" aria-label="Number of Days Input" id="day-span" max="7">

    <button type="button" class="btn btn-success" id="search">Search</button>
    <button type="button" class="btn btn-warning" id="clear">Clear Table</button>
    </div>  
</div>


<main>

</main>
